{% load static %}
{% load notifications_tags %}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/png" href="https://www.nyu.edu/favicon.ico"/>
</head>
<body>
<style>
  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .notification .badge {
    position: absolute;
    top: 2px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  </style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


 <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">
<link rel="stylesheet" type='text/css'
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'posts:home' %}">

        <img src="https://nyu-marketplace-team1.s3.amazonaws.com/Marketplca.png" width=200 loading="lazy"/>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
{#            <a class="nav-link" href="{% url 'notifications:mark_all_as_read' %}?next={% url 'posts:home' %}">Home</a>#}
          <a class="nav-link" href="{% url 'posts:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile_detail' %}">Profile</a>
        </li>
        {% if not user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:post-create' %}">Create a Post</a>
        </li>
        {% endif %}
        <li style="margin-left: 300px;">

          <div class="form-group row">
            <div class="col">
              <input type="text" id="searchInput" name="q" class="form-control" onkeydown="searchWords(1)"
                     placeholder="Search Marketplace" style="width: 300px">
            </div>
            <div class="col">
              <button class="btn btn-secondary" style="color: #000000; background-color: #ffffff"
                      onclick="searchWords(2)"><i
                  class="bi bi-search"></i></button>
            </div>

          </div>

        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <!-- Avatar -->
      {% if user.is_authenticated %}

          <div class="form-group row">
            <div class="col">
                <div class="dropdown">
{#                {{ 222 }}#}
                  {% notifications_unread as unread_count %}

                   <a href="#" class="notification dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                        <i class="fa fa-bell" style="font-size:20px"></i>
                        <span class="badge">{% live_notify_badge %}</span>
                      </a>
{#                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">#}
{#                            {% for notification in  user.notifications.unread %}#}
{#                                <div>#}
{#                                Message from <b>{{ notification.actor }}</b>#}
{#                                <button class="dropdown-item" type="button">{{ notification.description }}</button>#}
{#                                </div>#}
{#                                <div class="dropdown-divider"></div>#}
{#                            {% endfor %}#}
{#                                        <div style = " left: auto ; right : 0" class="dropdown-menu">#}
{##}
{#                                             #}
{#                                            <div >#}

                                          <div style = " left: auto ; right : 0" class="dropdown-menu">
                                          <a class="nav-link" style="color: #000000"  href="{% url 'notifications:mark_all_as_read' %}?next={% url 'posts:home' %}"><i class="bi bi-backspace-fill"></i>Mark as Read</a>

                                              {% for notification in  user.notifications.unread %}
                                                    <div class="dropdown-divider"></div>

                                                       <a class="nav-link" style="color: #000000"  href="{% url 'users:post_interest_detail' notification.verb %}" type="button">{{ notification.description }}</a>
                                            {% endfor %}
                                              <div >
                                          </div>
                                        </div>
                          </div>
                        </div>
                      {% live_notify_list list_class="dropdown-menu" %}
                </div>
            </div>
          </div>
        <div class="dropdown">

          <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="text-decoration:none;color:#FFFFFF;"
          >
            <img
                src={{ user.profile.profile_pic.url }}
                class="rounded-circle"
                height="40"
                width = "40"
                alt="Black and White Portrait of a Man"
                loading="lazy"
            />
            &nbsp {{ user.username }}

          </a>
          <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="{% url 'users:profile_detail' %}">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'posts:home' %}">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      {% elif default_user.is_authenticated %}
        <div class="form-group row">
            <div class="col">
                <div class="dropdown">
{#                {{ 222 }}#}
                  {% notifications_unread as unread_count %}

                   <a href="#" class="notification dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                        <i class="fa fa-bell" style="font-size:20px"></i>
                        <span class="badge">{% live_notify_badge %}</span>
                      </a>
{#                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">#}
{#                            {% for notification in  user.notifications.unread %}#}
{#                                <div>#}
{#                                Message from <b>{{ notification.actor }}</b>#}
{#                                <button class="dropdown-item" type="button">{{ notification.description }}</button>#}
{#                                </div>#}
{#                                <div class="dropdown-divider"></div>#}
{#                            {% endfor %}#}
{#                                        <div style = " left: auto ; right : 0" class="dropdown-menu">#}
{##}
{#                                             #}
{#                                            <div >#}

                                          <div style = " left: auto ; right : 0" class="dropdown-menu">
                                          <a class="nav-link" style="color: #000000"  href="{% url 'notifications:mark_all_as_read' %}?next={% url 'posts:home' %}"><i class="bi bi-backspace-fill"></i>Mark as Read</a>

                                              {% for notification in  user.notifications.unread %}
                                                    <div class="dropdown-divider"></div>

                                                       <a class="nav-link" style="color: #000000"  href="{% url 'users:post_interest_detail' notification.verb %}" type="button">{{ notification.description }}</a>
                                            {% endfor %}
                                              <div >
                                          </div>
                                        </div>
                          </div>
                        </div>
                      {% live_notify_list list_class="dropdown-menu" %}
                </div>

                <div class="dropdown">

		</div>
          <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="text-decoration:none;color:#FFFFFF;"
          >
            <img
                src={{ default_user.profile.profile_pic.url }}
                class="rounded-circle"
                height="40"
                width = "40"
                alt="Black and White Portrait of a Man"
                loading="lazy"
            />
            &nbsp {{ default_user.username }}

          </a>
          <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="{% url 'users:profile_detail' %}">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'posts:home' %}">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      {% else %}
        <div>
        </div>
      {% endif %}
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

<!-- Navbar -->
<script src="" async defer></script>
</body>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      {% block content %}{% endblock %}
    </div>

  </div>
</main>
  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
<script>

    var query = window.location.search.substring(1);
    paras = query.split("&");
    for(var i = 0; i < paras.length; i++){
        var pair = paras[i].split("=");
        if(pair[0] == "q" ){
            document.getElementById("searchInput").value = pair[1]
        }
    }

    function validateSearch() {
        var x = document.getElementById("searchInput").value;
        if (x == null || x.trim() == "") {
            alert("Please input search words");
            return false;
        }
    }

    function searchWords(source) {
        if ((source == 1 && event.keyCode == 13) || source == 2) {
            var url = window.location.href;
            var query = window.location.search.substring(1);
            var searchQ = document.getElementById("searchInput").value;

            if (query == "") {
                window.location.href = "/posts/" + "?q=" + searchQ;
            } else {
                var contain = false;
                paras = query.split("&");
                hrefUrl = url.replace(query, "");
                for (var i = 0; i < paras.length; i++) {
                    var pair = paras[i].split("=");
                    if (pair[0] == "q") {
                        pair[1] = searchQ;
                        contain = true;
                    }
                    para = pair[0] + "=" + pair[1];
                    if (i < paras.length - 1) {
                        para += "&"
                    }
                    hrefUrl += para;
                }
                if (contain == false) {
                    para = "&q=" + searchQ;
                    hrefUrl += para;
                }
                window.location.href = hrefUrl;
            }
        }

    }
</script>
</html>